/*Start global*/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  
  
}

:root {
  --main-color: linear-gradient(#6cfec6, #3fd2ce);
  --secondary-color: linear-gradient(#ff6c54, #ff2b59);
  --third-color: #233537;
  --dtrans: 1s;
}

body {
  font-family: 'Roboto', sans-serif;
}


.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.title {
  color:white;
  text-align: center;
}
.title h1 {
  font-size: 25px;
}
.title p {
  font-size: 10px;
  font-weight: 500;
}
/*End global*/
/*Start header*/
.header {
  height: 70px;
}
.header .container {
  position: relative;
  height: 100%;
}
.header .container .logo {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}
.header .container .logo img {
  height: 50px;
}
.header .container .lists {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: nowrap;
  grid-gap: 20px;
}
.header .container .lists a {
  padding: 5px 10px;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
}
.header .container .lists a:first-child {
  background: var(--main-color);
  color: white;
}
.header .container .lists a:hover {
  background: var(--main-color);
  color: white;
}
.header .container input {
  display: none;
}
@media (max-width: 767px) {
  .header .container .lists {
    text-align: center;
    display: grid;
    top: 260px;
    right: 420px;
    position: absolute;
    grid-template-columns: repeat(1,1fr);
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 5px;
    transition-duration: var(--dtrans);
    transition-property: right;
  }
  .header .container .lists a {
    font-size: 30px;
    padding: 10px;
  }
  
  #check:checked ~ .lists {
    right: 0;
  }
  .header .container .icon {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  
  }
  .header .container .icon label {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    grid-gap: 8px;
    }
  .header .container .icon label span {
    height: 2px;
    width: 100%;
    background: var(--secondary-color);
  }
  .header .container .icon label:hover {
    animation-name: icon;
    animation-duration: var(--dtrans);
    
  }

}
@keyframes icon {
   form {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(90deg);
   }
}
/*End header*/
/*Start landing1*/
.landing1 {
  background: var(--main-color);
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing1 h1 {
  color: white;
  font-weight: 300;
}
.landing1 a {
  padding: 10px;
  background: var(--secondary-color);
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  position: relative;
  top: 25px;

}
/*End landing1*/
/*Start services*/
.services {
  text-align: center;
}
.services .container {
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
  grid-gap: 10px;
  margin-top: 100px;
}
.services .container div {
  text-align: center;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
}
.services .container div i {
  color: white;
  background: var(--main-color);
  font-size: 50px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding-top: 10px;
}
.services .container div h4 {
  text-transform: uppercase;
  font-weight: 500;
}
.services .container div p {
  font-size: 8px;
}
.services .newserv {
  margin-top: 75px
}
.services .newserv a {
  padding: 10px 25px;
  text-transform: uppercase;
  color: white;
  background: var(--secondary-color);
  border-radius: 10px;
}
@media (max-width: 767px) {
  .services .container {
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 30px;
  }
  .services .container div {
    width: 50%;
  }
}
/*End services*/
/*Start landing2*/
.landing2 {
  display: grid;
  justify-items: center;
  height: 500px;
  margin-top: 50px;
  background: var(--secondary-color);
}
.landing2 h1 {
  
}
.landing2 div {
  justify-self: center;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}
.landing2 h1 {
  margin-top: 100px;
  color: white;
  text-align: center;
}
.landing2 p {
  margin-top: -90px;
  text-align: center;
  color: white;
  width: 50%;
  font-weight: 100;
}
.landing2 div img:nth-child(2) {
  width: 400px;
  position: absolute;
  z-index: 1;
  bottom: -1px;
}
.landing2 div img:first-child {
  width: 350px;
  height: 197px;
  position: absolute;
  bottom: -1px;
  left: -15%;
}
.landing2 div img:last-child {
  width: 350px;
  height: 197px;
  position: absolute;
  bottom: -1px;
  right: -15%;
}
@media (max-width: 767px) {
  
.landing2 div img:nth-child(2) {
  width: 200px;
}

.landing2 div img:first-child {
  width: 150px;
  height: 84px;
}
.landing2 div img:last-child {
  width: 150px;
  height: 84px;
}
}
/*End landing2*/
/*Start phone add*/
.phoneadd {
  margin-top: 50px;
}
.phoneadd .container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.phoneadd .container .phones {
  position: relative;
}
.phoneadd .container .phones img:first-child {
  width: 200px;
  position: relative;
  z-index: 3;
}
.phoneadd .container .phones img:last-child {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  z-index: -1;
}
.phoneadd .container .text h1 {
  font-size: 25px;
  font-weight: 500;
}
.phoneadd .container .text p {
  font-size: 10px;
  font-weight: 100;
}
.phoneadd .container .text a {
  position: relative;
  top: 25px;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 5px;
  color: white;
  background: var(--secondary-color);
}
@media (max-width: 767px) {
  .phoneadd .container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
/*End phone add*/
/*Start portfolio*/
.portfolio {
  text-align: center;
  background: var(--main-color);
  padding-top: 25px;
  margin-top: 50px;
}
.portfolio .container .links {
  margin-top: 25px;
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}
.portfolio .container .links a {
  padding: 5px 10px;
  color: black;
}
.portfolio .container .links a:first-child {
  color: white;
}
.portfolio .container .por {
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  justify-content: center;
  margin-top: 25px;
  grid-gap: 25px;
}
.portfolio .container .por div {
  background: white;
  padding-bottom: 10px;
}
.portfolio .container .por div img {
  height: 125px;
  width: 200px;
  background: var(--third-color);
}
.portfolio .container .por div h6 {
  margin-top: 10px;
}
.portfolio .container .por div p {
  margin-top: 10px;
  font-size: 10px;
  font-weight: 100;
}
.portfolio .container .arrow {
  margin-top: 25px;
  font-size: 30px;
}
.portfolio .container .arrow a i {
  color: white;
}
/*End portfolio*/
/*Start stats*/
.stats {
  background: var(--third-color);
  padding: 25px 0;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
  grid-gap: 25px;
}
.stats .container div {
  display: grid;
  grid-gap: 10px;
}
.stats .container i {
  font-size: 30px;
}
.stats .container div i, .stats .container h6, .stats .container p {
  color: #ff4b58;
}
/*End stast*/
/*Start team*/
.team .container .title {
  color: var(--third-color);
}
.team .container .members {
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  justify-content: center;
  grid-gap: 25px;
  margin-top: 25px;
  text-align: center;
}
.team .container .members div {
  background: var(--main-color);
  padding-bottom: 10px;
  color: var(--third-color);
}
.team .container .members div img {
  width: 200px;
  height: 125px;
  background: var(--third-color);
}
.team .container .members div h5 {
  padding: 5px 0 0 0;
}
.team .container .members div h6 {
  color: white;
  padding: 5px 0;
}

.team .container .members div p {
  font-size: 10px;
  padding: 0 5px;
}
/*End team*/
/*Start landing3 & 4*/
.landing3 {
  background: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 25px;
  grid-gap: 10px;
  color: white;
  margin-top: 50px;
}
.landing3 h4 {
  font-size: 20px;
  padding: 10px;
  background: var(--third-color);
  border-radius: 50%;
}
.landing3 div {
  font-size: 30px;
}
.landing4 {
  background: var(--third-color);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 25px;
  grid-gap: 10px;
  color: white;
  text-align: center;
}
.landing4 a {
  font-size: 10px;
  padding: 5px 15px;
  border: 1px solid white;
  color: white;
  margin-top: 20px;
}

/*End landing3 & 4*/
/*Start about*/
.about {
  padding: 25px 0;
}
.about .container {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 25px;
}
.about .container img {
  width: 250px;
  height: 150px;
  background: var(--third-color);
}
.about .container .text h6 {
  font-size: 15px;
}
.about .container .text p {
  font-size: 10px;
  font-weight: 300;
  margin-top: 10px
}
@media (max-width: 767px) {
  .about .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/*End about*/
/*Start add*/
.add {
  background: var(--main-color);
  height: 400px;
}
.add .container {
  position: relative;
  height: 100%;
}
.add img {
  width: 200px;
  position: absolute;
  top: 50px;
}
.add .text {
  position: absolute;
  top: 50%;
  width: 70%;
  left: 100%;
  transform: translate(-100%,-50%);
}
.add h3 {
  color: white;
}
.add h4 {
  color: var(--third-color);
  font-size: 15px;
  padding: 10px 0;
}
.add p {
  color: white;
  font-size: 10px;
}
@media (max-width: 767px) {
  .add {
    height: auto;
    padding: 10px 0;
  }
  .add .container {
    display: grid;
    grid-template-columns: 1fr ;
    position: static;
    justify-items: center;
  }
  .add img {
    position: static;
  }
  .add .text {
    padding: 10px 0;
    position: static;
    transform: translate(0,0);
    text-align: center;
  }
}
/*End add*/
/*Start cliensay*/
.clientsay {
  margin-top: 50px;
}
.clientsay .title {
  color: var(--third-color);
}
.clientsay .container .client {
  display: grid;
  grid-template-columns: repeat(auto-fill,200px);
  grid-gap: 25px;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}
.clientsay .client div {
  background: var(--main-color);
  padding: 10px;
  color: white;
}
.clientsay .client div p {
  font-size: 8px;
}
.clientsay .client div h6 {
  padding: 10px 0;
  color: var(--third-color);
}
/*End clientsay*/
/*Start contact*/
.contact {
  margin-top: 50px;
  background: var(--secondary-color);
  padding: 25px 0;
  height: 350px;
}
.contact .container {
  position: relative;
}
.contact .container form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  margin-top: 25px;
}
.contact .container form input {
  height: 50px;
  outline: none;
  border: 1px solid white;
  background: transparent;
  padding: 10px;
  color: white;
}
.contact .container form input::placeholder {
  font-size: 15px;
  color: white;
}
.contact .container textarea {
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid white;
  background: transparent;
  padding: 15px;
  margin-top: 25px;
  color: white;
}
.contact .container textarea::placeholder {
  font-size: 15px;
  color: white;
}
.contact .container #sub {
  padding: 10px 15px;
  font-size: 10px;
  background: var(--third-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  bottom: -50px;
}
@media (max-width: 767px) {
  .contact {
    height: 450px;
  }
  .contact .container form {
    grid-template-columns: 1fr;
  }
}
/*End contact*/
/*Start map*/
.map {
  height: 250px;
  width: 100%;
  background: var(--third-color);
  position: relative;
}
.map div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
  background: var(--main-color);
  padding: 15px 25px;
  color: white;
  width: 280px;
}
/*End map*/
/*Start footer*/
.footer {
  width: 100%;
  height: 75px;
  background: #232e3d;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}
/*End footer*/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
